<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Animator" version="1.0.3" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="OpenVPN" version="1.0.3" targetFramework="net472" />
  <package id="SpeedTest.NetCore" version="2.1.0" targetFramework="net472" />
  <package id="Stripe.net" version="48.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
</packages>